.fixed-button {
    position: fixed;
    top: 320px; 
    right: -23px; 
    z-index: 1000;
  }
  
  .fixed-button button {
    background-color: #fff;
    color: #131313;
    border: 2px solid black;
   
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transform: rotate(-90deg);
  }

  
  /*Done*/