.fixed-button {
    position: fixed;
    top: 320px; 
    right: -23px; 
    z-index: 1000;
  }
  
  .fixed-button button {
    background-color: #fff;
    color: #131313;
    border: 2px solid black;
   
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transform: rotate(-90deg);
  }

  @media (max-width:768px) {
        
    .fixed-button button {
       
        padding: 5px 10px; 
        border-radius: 3px; 
        font-size: 14px; 
      }
  }

  
  /*Done*/