@font-face {
   font-family: 'my';
   src: url('https://fonts.googleapis.com/css?family=Oxygen');
 }
 .container{
    
    width: 100%;
    margin-top: 60px;
    margin-bottom: -200px;

    height:auto; 
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0px;
    
    
    
   
 }

 .text-cont{
     
   color:black;
    text-align: center;
    z-index: 1000;
    font-family: 'my';
    
 }

 .img-cont{
     display: flex;
     
    
     justify-content: space-between;
     margin-top: 40px;
 }

 .img-cont div :hover{
       opacity: 1;
       cursor: pointer;
 }

   

   

   


   /* Testimonials.css */
/* ... Other styles ... */



.overlay {

   position: absolute; /* Position relative to the container */
  top: 0px; /* Adjust as needed */
  left: 0px;
  margin-left:3px;
  
   width: 277px;
   height: 277px;
   background-color: rgba(7, 7, 7); /* Semi-transparent black overlay */
   border-radius: 20px;
  
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
  
 }
 
 .overlay p {
   color: white;
   font-size: 17px;
 }

 .img-cont-2{
   position: relative;
 }


 @media(max-width: 768px){

   .img-cont{
        display: flex;
        flex-direction: column;
        overflow: hidden;
   }

    .img-cont-2 {
      position: relative;
    }
  
     .overlay {
      position: absolute;
      top: 0; 
      left: 22%; 
    }  
}


@media(max-width: 415px){

   .img-cont{
        display: flex;
        flex-direction: column;
        overflow: hidden;
   }

    .img-cont-2 {
      position: relative;
    }
  
     .overlay {
      position: absolute;
      top: 0; 
      left: 12%; 
    }  
}

