
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #080808;
  
 
  position: relative;
}


@font-face {
  font-family: 'Pridi';
  src: url('https://fonts.googleapis.com/css2?family=Pridi:wght@400&display=swap');
} 

.logo {
  font-size: 24px;
  font-family: 'Pridi', sans-serif; 
  font-weight: normal; 
  margin-left: 23px;
}



.navbar a{
  text-decoration: none;
  color: #0c0c0c;
  
  font-weight: bold;
}

.option{
  display: flex;
 
  width: 50%;
  justify-content:space-between;
}

 #pk{
     cursor: unset;
 }


.pk{
  height: 30px;
  cursor: none;
}
.search-button {
  background-color: #fff;
  color: #fff;
  border: none;
  padding: 5px 10px;
 
}

.kk{
     height: 30px;
     cursor: pointer;
     background-color: white;
}

.cart {
  position: relative;
  
}

.pk {
  position: absolute;
  right: 5px; 
  top: 0; 
  height: 30px;
}


.search {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px;
}

.search.open {
  display: flex;
}


.search input {
  width: 100%;
  padding: 0px;
 

  border: 2px solid #0e0e0e;
  border-radius: 15px;
 
}


.search button {
  background-color: #0c0c0c;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.aa{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

 .txt a{
  text-decoration: none;
   margin-left: 20px;
  color: #0c0c0c;
  
  font-weight: bold; 

    font-family: 'sky';
 }

 .L{
    cursor: pointer;
 }

@media(max-width:768px) {
  
    .option{
      display: none;
    }
    
   

}

@media(min-width:768px){
   .icon{
     display: none;
   }
   .tt{
      display: none;
   }

  
}

@media(max-width:420px){
    .logo{
      color: #fff;
    }

    


}



